* {
    background-color: lightyellow;
}

#header {
    display: inline;
}

#title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: lightseagreen;
}

#contacts {
    display: grid;
    grid-template-columns: auto auto;
}