#card {
    background-color: lightcyan;
    width: 90%;
    margin: auto;
    display: grid;
    border-radius: 10%;
    grid-template-columns: 30% 50% auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#img_div {
    background-color: lightcyan;
    margin: auto;
    margin: 10%;
}

img {
    width: 130px;
    height: 150px;
}

#details_div {
    background-color: lightcyan;
    margin-top: 5%;
    margin-left: 2.5%;
}

#options {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#options > :nth-child(2) {
    margin-top: 10%;
    margin-bottom: 10%;
}